* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #446FD1;
    --secondary-background: #88ACFF;
    --primary-text: #FFFFFF;
    --secondary-text: #263238;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    padding: 1rem 0;
    background-color: var(--secondary-background);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 95%;
    margin: 0 1rem;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}

.nav-links {
    display:flex;
    list-style: none;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-text);
    padding: 0.5rem 1rem;
}