* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black
}

:root {
    /* Colors */
    --primary-color: #3362CC;
    --secondary-color: #B0C7FC;
    --def-background-color: #D4D9E5;
    --text-color: #1E282D;
    /* for desktop  */
    --text-size-desktop: 1rem;
    --head-size-desktop: 1rem;
    --subhead-size-desktop: 1rem;
    
    /* for tablet  */
    --text-size-tab: 1rem;
    --head-size-tab: 1rem;
    --subhead-size-tab: 1rem;
    
    /* for mobile */
    --text-size-mob: 1rem;
    --head-size-mob: 1rem;
    --subhead-size-mob: 1rem;

}

/* Header, NavBar */

header {
    border-radius: 15px;
    margin: 1vh auto ;
    width: 98vw;
    height: 10vh;
    background-color: var(--primary-color);
}

.navbar {
    width: 98%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 5px;
    width: 30vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 60px 80px;
}

.image-container {
    width: 60px;
    height: auto;
}

.image-container img {
    width: inherit;
    height: inherit;
}

